<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js"></script>
    </head>

    <body>
        <div style="margin: auto;width: 25%;padding: 10px;">
            <h2 class="ui header">Authenticate Gate</h2>
            <form class="ui form" action="" method="POST">
                <div class="field">
                  <label>Gate ID</label>
                  <input type="number" name="gateID" placeholder="Gate ID" min="1" required>
                </div>
                <div class="field">
                  <label>Secret</label>
                  <input type="text" name="secret" placeholder="Secret" minlength="{{ secret_len }}" maxlength="{{ secret_len }}" required>
                </div>
                <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
        
    </body>
</html>




