<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js"></script>
</head>



<body>
  <div style="margin: auto;width: 25%;padding: 10px;">
    <h2 class="ui header">History of attempts</h2>
    <table class="ui single line table">
      <thead>
       <tr>
         <th>Gate ID</th>
         <th>Success</th>
         <th>Datetime</th>
       </tr>
      </thead>
      <tbody>
        {% for col in historyInfo %}
           <tr>
              <td>{{ col.gateId         }}</td>
              <td>{{ col.success      }}</td>
              <td>{{ col.dateTime     }}</td>
           </tr>
        {% endfor %}
      </tbody>
  </div>
  
</body>
</html>
