<!DOCTYPE html>
<html lang="en">
<p>All Gates</p>

<body>
  <table border='1'>
    <thead>
     <tr>
       <th>id</th>
       <th>secret</th>
       <th>location</th>
       <th>activations</th>
     </tr>
    </thead>
    <tbody>
      {% for col in gatesInfo %}
         <tr>
            <td>{{ col.id           }}</td>
            <td>{{ col.secret       }}</td>
            <td>{{ col.location     }}</td>
            <td>{{ col.activations  }}</td>
         </tr>
      {% endfor %}
    </tbody>
</body>
</html>
